In [2]:
import pandas as pd
import numpy as np
df = pd.read_excel("rotina_diaria_pessoas.xlsx")
df

    Pessoa      Dia      Atividade        Local Horário  Gasto_Estimado
0    Kauan  Segunda  Café da Manhã         Casa   07:30            8.75
1    Kauan  Segunda         Treino     Trabalho   09:00           36.60
2    Kauan  Segunda         Almoço  Restaurante   12:30             NaN
3    Kauan  Segunda         Estudo       Parque   15:00            0.00
4    Kauan  Segunda          Janta         Casa   20:00           22.32
..     ...      ...            ...          ...     ...             ...
115   Enzo   Quarta  Café da Manhã         Casa   07:30            7.42
116   Enzo   Quarta           Aula     Academia   09:00           45.02
117   Enzo   Quarta         Almoço     Trabalho   12:30           20.66
118   Enzo   Quarta     Expediente       Parque   15:00            0.00
119   Enzo   Quarta          Janta          NaN   20:00           49.04

[120 rows x 6 columns]

In [ ]:
df_analise = df.copy()
pd.set_option("display.max_rows",None)
df_analise["Gasto_Estimado"] = np.where(df_analise["Gasto_Estimado"].isnull(), "Nao Calculado", df_analise["Gasto_Estimado"])
df_analise["Horário"] = pd.to_datetime(df_analise["Horário"], format="%H:%M")

df_analise_rotina = (
    df_analise[df_analise["Atividade"] == "Almoço"].groupby("Pessoa")["Horário"].mean()
)
df_analise_rotina = df_analise_rotina.dt.strftime("%H:%M")
df_analise_rotina = df_analise_rotina.reset_index()
df_analise_rotina.rename(columns={"Horário": "Horario_Medio_Almoco"}, inplace=True)

df_Analise_horario_medio_janta = (
    df_analise[df_analise["Atividade"] == "Janta"].groupby("Pessoa")["Horário"].mean()
)
df_Analise_horario_medio_janta = df_Analise_horario_medio_janta.dt.strftime("%H:%M")
df_Analise_horario_medio_janta = df_Analise_horario_medio_janta.reset_index()
df_Analise_horario_medio_janta = df_Analise_horario_medio_janta.rename(columns={"Horário": "Horario_Medio_Janta"})

df_analise_rotina = df_analise_rotina.merge(df_Analise_horario_medio_janta, on="Pessoa", how="left")

df_analise["Horário"] = df_analise["Horário"].dt.time

df_analise_rotina
df_analise["Gasto_Estimado_Num"] = pd.to_numeric(df_analise["Gasto_Estimado"], errors='coerce')
gastoTotal = df_analise.groupby("Pessoa")["Gasto_Estimado_Num"].sum()
gastoTotal = gastoTotal.reset_index()
gastoTotal.rename(columns={"Gasto_Estimado_Num": "Gasto_Total"}, inplace=True)

df_analise_rotina = df_analise_rotina.merge(gastoTotal,on = "Pessoa",how="left")
df_analise_rotina

      Pessoa Horario_Medio_Almoco Horario_Medio_Janta  Gasto_Total
0    Beatriz                12:30               20:00       229.54
1       Enzo                12:30               20:00       374.33
2    Gabriel                12:30               20:00       310.90
3      Kauan                12:30               20:00       251.89
4      Lucas                12:30               20:00       325.26
5     Miguel                12:30               20:00       267.74
6     Sophia                12:30               20:00       269.19
7  Valentina                12:30               20:00       332.68