In [121]:
import pandas as pd
import numpy as np

df = pd.read_excel('dados_treino_pandas.xlsx')

#df.describe()
#df.info()
df

         produtos  quantidades    nome_lojas  valor_produto
0        Notebook         10.0           NaN         3500.0
1      Smartphone          NaN    Tech Store         1500.0
2         Monitor         15.0           NaN          800.0
3         Teclado         50.0  Loja Central          150.0
4           Mouse         40.0    Tech Store           80.0
5      Impressora          5.0   Mega Eletro          600.0
6             NaN         30.0  Loja Central            NaN
7          Webcam         12.0    Tech Store          300.0
8   Cadeira Gamer          8.0   Mega Eletro            NaN
9            Mesa          NaN  Loja Central          450.0
10            NaN         12.0    Tech Store         3450.0
11     Smartphone         20.0   Mega Eletro         1480.0
12        Monitor          NaN  Loja Central            NaN
13        Teclado         45.0    Tech Store          140.0
14          Mouse         35.0   Mega Eletro           75.0
15     Impressora          7.0  Loja Central          620.0
16        Headset         25.0           NaN          240.0
17         Webcam          NaN   Mega Eletro            NaN
18  Cadeira Gamer          5.0           NaN         1150.0
19           Mesa         12.0    Tech Store            NaN

In [142]:
df["quantidades"] = df["quantidades"].fillna(0)
df["quantidades"] = df["quantidades"].map(int)
df["valor_produto"] = df["valor_produto"].fillna(39)
df["produtos"] = df["produtos"].fillna("Computador")
df_analise = df[["produtos", "nome_lojas", "valor_produto","quantidades"]].copy()
df_analise["produtos"] = df_analise["produtos"].str.strip().str.title()
df_analise["nome_lojas"] = df_analise["nome_lojas"].str.strip().str.title()
df_analise["Vendas Totais por Loja"] = df_analise["valor_produto"] * df_analise["quantidades"]
df_analise["nome_lojas"] = df_analise["nome_lojas"].fillna("Loja Central")
df_analise["Vendas Totais por Loja"] = (
    df_analise["Vendas Totais por Loja"]
        .astype(str)
        .str.replace("R$", "", regex=False)
        .str.replace(".", "", regex=False)
        .str.replace(",", ".", regex=False)
        .str.strip()
)

df_analise["Vendas Totais por Loja"] = pd.to_numeric(
    df_analise["Vendas Totais por Loja"],
    errors="coerce"
)
#df_analise = df_analise["Vendas Totais por Loja"].map("R${:,.2f}".format)

In [143]:
df_analise

def RegiaodaLoja(Loja):
    if Loja == "Loja Central":
        return "Sao Paulo"
    elif Loja == "Tech Store":
        return "Rio de Janerio"
    elif Loja == "Mega Eletro":
        return "Salvador"
    else:
        return "Mato Grosso"

df_analise["Regiao da Loja"] = df_analise["nome_lojas"].map(RegiaodaLoja)
df_analise

,produtos,nome_lojas,valor_produto,quantidades,Vendas Totais por Loja,Regiao da Loja
0,Notebook,Loja Central,3500.0,10,350000,Sao Paulo
1,Smartphone,Tech Store,1500.0,0,0,Rio de Janerio
2,Monitor,Loja Central,800.0,15,120000,Sao Paulo
3,Teclado,Loja Central,150.0,50,75000,Sao Paulo
4,Mouse,Tech Store,80.0,40,32000,Rio de Janerio
5,Impressora,Mega Eletro,600.0,5,30000,Salvador
6,Computador,Loja Central,39.0,30,11700,Sao Paulo
7,Webcam,Tech Store,300.0,12,36000,Rio de Janerio
8,Cadeira Gamer,Mega Eletro,39.0,8,3120,Salvador
9,Mesa,Loja Central,450.0,0,0,Sao Paulo
10,Computador,Tech Store,3450.0,12,414000,Rio de Janerio
11,Smartphone,Mega Eletro,1480.0,20,296000,Salvador
12,Monitor,Loja Central,39.0,0,0,Sao Paulo
13,Teclado,Tech Store,140.0,45,63000,Rio de Janerio
14,Mouse,Mega Eletro,75.0,35,26250,Salvador
15,Impressora,Loja Central,620.0,7,43400,Sao Paulo
16,Headset,Loja Central,240.0,25,60000,Sao Paulo
17,Webcam,Mega Eletro,39.0,0,0,Salvador
18,Cadeira Gamer,Loja Central,1150.0,5,57500,Sao Paulo
19,Mesa,Tech Store,39.0,12,4680,Rio de Janerio

In [ ]:
#Filtragem
#Sao paulo -->gerente Carla
#Rio de Janeiro --> Gerente Maria
#Salvador --> Gerente Joao
#Mato Grosso --> Gerente Pedro
def gerentes(Regiao):
    if Regiao == "Sao Paulo":
        return "Carla"
    elif Regiao == "Rio de Janerio":
        return "Maria"
    elif Regiao == "Salvador":
        return "Joao"
    else:
        return "Pedro"



df_analise = df_analise.sort_values("Vendas Totais por Loja",ascending=False)
df_analise = df_analise.reset_index(drop=True)
df_analise["Gerente Loja"] = df_analise["Regiao da Loja"].map(gerentes)
df_analise["Meta"] = np.where(df_analise["Vendas Totais por Loja"] > 1000, "Sim", "NaÌƒo")
id_pedido = 4
nome_prod = df_analise.loc[3,"produtos"]
RegiaodaLoja = df_analise.loc[3,"Regiao da Loja"]
gerentes = df_analise.loc[3,"Gerente Loja"]
print(nome_prod,RegiaodaLoja,gerentes)
df_analise_Carla = df_analise[df_analise["Gerente Loja"] == "Carla"]
df_analise_Carla
#df__Venda_Por_Estado = df_analise[df_analise["Regiao da Loja"] == "Sao Paulo"]
df_analise_Lojas = df_analise[["Regiao da Loja","Vendas Totais por Loja"]].groupby("Regiao da Loja").sum()
df_analise_Lojas

Monitor Sao Paulo Carla

                Vendas Totais por Loja
Regiao da Loja
Rio de Janerio                  549680
Salvador                        355370
Sao Paulo                       717600