In [1]:
import pandas as pd
import numpy as np

df_Vendas = pd.read_excel('Programação.xlsx')

In [ ]:
display(df_Vendas.head()) # Mostra as 5 primeiras linhas
#display(df_Vendas.tail()) # Mostra as 5 ultimas linhas
#display(df_Vendas.shape) # Mostra o numero de linhas e colunas
#display(df_Vendas.columns) # Mostra as colunas
#display(df_Vendas.sample(10)) # Mostra 10 linhas aleatorias
display(df_Vendas.shape)#Linha Coluna
display(df_Vendas.describe())
display(df_Vendas.info())

In [ ]:
#Tratamento de Dados
df_Vendas['\nPROGRAMAÇÃO DIÁRIA'] #Selecionando a coluna PROGRAMACAO DIARIA
#df_Vendas[[Lista_de_Colunas]] Passar com dois colchetes

#Colunas
df_Analise = df_Vendas.drop(columns='\nPROGRAMAÇÃO DIÁRIA')
display(df_Analise)
display(df_Analise.info())
#Nulos
#df_Analise = df_Analise.dropna() #Excluir os NAN
#display(df_Analise)
df_Analise['Unnamed: 2'] = df_Analise['Unnamed: 2'].fillna("ONLINE")


#Tipos de dados 
#df_Analise['Unnamed: 2'] = pd.to_datetime(df_Analise['Unnamed: 2'],format="%y-%m-%d %H:%M:%S")

#Padronizacao
df_Analise['Unnamed: 2'] = df_Analise['Unnamed: 2'].str.strip()#Remove espacos inuteis
df_Analise['Unnamed: 2'] = df_Analise['Unnamed: 2'].str.title()#Primeira letra maiuscula de cada palavra


#Duplicados
#df_Analise = df_Analise.drop_duplicates(subset=["Id_Pedido"],keep='first')#Remove quaando o id Pedido forem igual,mantem o primeiro

,Unnamed: 0,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8
0,NaN,2000-09-03 00:00:00,NaN,Defina a data de início na célula C2. As linha...,NaN,NaN,NaN,NaN
1,NaN,2000-09-03 00:00:00,2000-09-04 00:00:00,2000-09-05 00:00:00,2000-09-06 00:00:00,2000-09-07 00:00:00,2000-09-08 00:00:00,2000-09-09 00:00:00
2,NaN,DOMINGO,SEGUNDA-FEIRA,TERÇA-FEIRA,QUARTA-FEIRA,QUINTA-FEIRA,SEXTA-FEIRA,SÁBADO
3,NaN,Estudar Py,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,Estudar Py,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,Estudar Py,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,Estudar Py,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,Estudar Py,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,Estudar Py,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,Estudar Py,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,NaN,NaN,NaN,NaN,NaN,TAREFAS,NaN,NaN

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27 entries, 0 to 26
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  0 non-null      float64
 1   Unnamed: 2  10 non-null     object
 2   Unnamed: 3  2 non-null      object
 3   Unnamed: 4  3 non-null      object
 4   Unnamed: 5  2 non-null      object
 5   Unnamed: 6  3 non-null      object
 6   Unnamed: 7  2 non-null      object
 7   Unnamed: 8  2 non-null      object
dtypes: float64(1), object(7)
memory usage: 1.8+ KB

None

In [ ]:
#Analise
# Obs importante .Meains() serve para descobrir a media de um conjunto de dados,sum,cout.Media,suma,contador. o Value Count conta quanta x aparece ex sao paulo,Bh,etc...

#Criar coluna 
#df_Analise["Faturamento"] = df_Analise["Unnamed: 3"] * df_Analise["Unnamed: 1"] 

#Analise por Regiao
display(df_Analise["Unnamed: 0"].unique())#Valores unicos
sudeste = ["Sao paulo","Rio de janeiro","Belo H"]
#Posso criar um Dicionario
def DefRegioes(Loja):
    Regioes = {
    "Sao paulo" : "Sudeste",
    "Belo H"    :  "Sudeste",
    "Rio de Janeiro":"Sudeste",
    "Recife" : "Nordeste"
    #E assim vai ...isso e so um exemplo
}
    return Regioes[Loja]
#df_Analise["Regiao"] = np.where(df_Analise["Unnamed: 3"].isin(sudeste),"Sudeste")
df_Analise["Regiao"] = df_Analise["Unnamed: 1"].map(DefRegioes)

display(df_Analise.isna().sum())#Para ver se ficou algo null
#Analise por forma de venda

df_Analise["Venda"] = np.where(df_Analise["Unnamed: 2"]=="Online","Online","Precsencial")#np where ele serve para preencher 

display(df_Analise)

In [ ]:
#Analisar --->Filtrar
#.loc ele serve para filtrar por linhas e colunas ex: df.loc[linha,coluna]

#Ordenar 
df_Analise = df_Analise.sort_values(by="Data") #ordena seguindo a data 
#Ascending = False para em ordem decresente
df_Analise = df_Analise.reset_index(drop=True)
id_Pedido = 4
loja = df_Analise.loc[3,"loja"]
produto = df_Analise.loc[3,"Produto"]
cliente = df_Analise.loc[3,"Cliente"]
print(loja,produto,cliente)


#iloc ->posicao
id_Pedido = 4
loja = df_Analise.loc[3,2]
produto = df_Analise.loc[3,1]
cliente = df_Analise.loc[3,2]

#Condicional

df_Analise_id_4 = df_Analise[df_Analise["Id_Pedido"] == 4] #pega a coluna onde o id pedido  e igual 4


#Exportar pedacao da base
df_Analise_id_4.to_csv("Vendas Sp",index=False)

#Exportar as vendas abaixo de 2024
Vendas_2024 = df_Analise[df_Analise["Data"].dt.year == 2024]
#OUUU  Vendas_2024 = df_Analise[df_Analise["Data"] >=  "2024-01-01"]


#Duplas Condicoes
Cond1= df_Analise[df_Analise["Produto"] == "HDMI"]
#Cond2
Cond2= df_Analise[df_Analise["Regiao"] == "SUL"]
Vendas_Sul = df_Analise[Cond1 & Cond2]

#Analise de Agrupamento

#Analisar qual loja vendeu mais
Analise_Lojas = df_Analise[["Loja","Faturamento"]].groupby("Loja").sum()#Vai mostrar a loja e a soma dos faturamentos de cada uma
#Ta agrupando pela loja e incluindo a coluna faturamento
Analise_Lojas = Analise_Lojas.sort_values(by="Faturamento",ascending=False)
Analise_Lojas = Analise_Lojas.reset_index()
#Formatar
Analise_Lojas = Analise_Lojas["Faturamento"].map("R${:,.2f}".format)


#Ranking de prod que mais vendeu no Online
df_Vendas_Online = df_Analise[df_Analise["loja"] == "ONLINE"]
Produtos_Online = df_Analise[["Produto","Faturamento"]].groupby("Produto").sum()
Produtos_Online = df_Analise.sort_values(by="Faturamento",ascending=False)
Produtos_Online = Produtos_Online.rename(columns={"Qtd" : "Vendas T"})


#Analise de Rank  por loja e por Prod
# quais prod venderam mais em quais lojas
Analise_Em_Lojas = df_Analise[["Loja","Produto","qtd"]].groupby(["Loja","Produto"]).sum() 

#quais lojas venderam mais produtos
Analise_Em_Lojas_Prod = df_Analise[["Loja","Produto","qtd"]].groupby(["Produto","Loja"]).sum() 

#Mostrar a tabela toda
pd.set_option("display.max_rows",None)

In [ ]:
#Analisar por gerente

Vendas_Gerente = df_Analise[(df_Analise["Data"].dt.year == 2024 )& (df_Analise["Data"].dt.month == 1)]
Vendas_Gerente =Vendas_Gerente[["Lojas","Faturamento"]].groupby("Loja",as_index = False).sum()
Vendas_Gerente = Vendas_Gerente.merge(df_gerente,on = "Loja",how = "left")#Suponde ter exportado a gerente,mas aqui estamos seguindo um tutorial,entao acaba que eu nao possuo os arquvios...
Vendas_Gerente["Bateu Meta"] = np.where(Vendas_Gerente["Faturamento"] > Vendas_Gerente["Meta"],True,False)

In [ ]:
df_Analise["Mes-Ano"] = Vendas_Gerente["Data"].to_period("M")
Vendas = df_Analise[["Loja","Faturamento","Mes-Ano"]].groupby(["Loja","Mes-Ano"]).sum()
Vendas.plot()
display(Vendas)